services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: autopulse-app
    container_name: autopulse-app
    restart: unless-stopped
    working_dir: /var/www/html
    env_file:
      - .env
    volumes:
      - ./:/var/www/html
    depends_on:
      - db
      - redis

  web:
    image: nginx:1.27-alpine
    container_name: autopulse-web
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.4
    container_name: autopulse-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: autopulse
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: autopulse
      MYSQL_PASSWORD: autopulse
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql

  redis:
    image: redis:7-alpine
    container_name: autopulse-redis
    restart: unless-stopped
    ports:
      - "6379:6379"

volumes:
  dbdata:
